<!DOCTYPE html>
<html lang="en" class="h-full bg-white">
<head>
    <meta charset="UTF-8">
    <title>View All Subcordinates</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body class="h-full">
<div th:replace="~{fragments/nav-mobile.html :: content}"></div>
<div th:replace="~{fragments/nav-static-side-bar-desktop.html :: content}"></div>

<div class="lg:pl-72">
    <div th:replace="~{fragments/nav-sticky-desktop.html :: content}"></div>

    <main class="py-10">
        <div class="px-4 sm:px-6 lg:px-8">
            <div class="sm:flex sm:items-center">
                <div class="sm:flex-auto">
                    <h1 class="text-base font-semibold leading-6 text-gray-900">Subcordinates</h1>
                    <p class="mt-2 text-sm text-gray-700">A list of subcordinates.</p>
                </div>
            </div>
            <div class="mt-8 flow-root">
                <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                    <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
                        <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
                            <table class="min-w-full divide-y divide-gray-300">
                                <thead class="bg-gray-50">
                                <tr>
                                    <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">User ID</th>
                                    <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">First Name</th>
                                    <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Last Name</th>
                                    <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Email</th>
                                    <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Username</th>
                                    <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0">
                                        <span class="sr-only">View Detail</span>
                                    </th>
                                </tr>
                                </thead>
                                <tbody class="divide-y divide-gray-200">
                                <tr th:each="user : ${users}">
                                    <td th:text="${user.userId}" class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6"></td>
                                    <td th:text="${user.firstName}" class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"></td>
                                    <td th:text="${user.lastName}" class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"></td>
                                    <td th:text="${user.email}" class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"></td>
                                    <td th:text="${user.username}" class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"></td>
                                    <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium">
                                        <form th:action="@{'/leave-applications'}" method="POST">
                                            <!-- Hidden input field for userId -->
                                            <input type="hidden" name="userId" th:value="${user.userId}" />
                                            <button type="submit" class="text-teal-500 hover:text-teal-900 hover:underline">View Details</button>
                                        </form>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>