<!DOCTYPE html>
<html lang="en" class="h-full bg-white">
<head>
    <meta charset="UTF-8">
    <title>Leave Application Details</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body class="h-full">
    <div>
        <div th:replace="~{fragments/nav-mobile.html :: content}"></div>
        <div th:replace="~{fragments/nav-static-side-bar-desktop.html :: content}"></div>

        <div class="lg:pl-72">
            <div th:replace="~{fragments/nav-sticky-desktop.html :: content}"></div>
            <main class="py-10">
                <h3 class="text-xl font-semibold text-center mb-16">Leave Application Details</h3>
                <p th:if="${leaveApplication.leaveStatus != 'Applied' && leaveApplication.leaveStatus != 'Updated'}" class="text-red-600 px-8">
                    <span class="text-base font-semibold leading-7">* Leave Status is '</span>
                    <span th:text="${leaveApplication.leaveStatus}" class="text-base font-semibold leading-7"></span>
                    <span class="text-base font-semibold leading-7">' and it can't be modified now.</span>
                </p>

                <div class="border-b border-gray-900/10 px-8 pb-12">
                    <div th:if="${leaveApplication}" class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                        <div class="sm:col-span-3">
                            <label for="startDate" class="block text-sm font-medium leading-6 text-gray-900">Start Date</label>
                            <div class="mt-2">
                                <input type="date" th:value="${leaveApplication.startDate}" name="startDate" id="startDate" autocomplete="startDate" class="bg-gray-200 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-teal-600 sm:text-sm sm:leading-6" disabled>
                            </div>
                        </div>

                        <div class="sm:col-span-3">
                            <label for="endDate" class="block text-sm font-medium leading-6 text-gray-900">End Date</label>
                            <div class="mt-2">
                                <input type="date" th:value="${leaveApplication.endDate}" name="endDate" id="endDate" class="bg-gray-200 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-teal-600 sm:text-sm sm:leading-6" disabled>
                            </div>
                        </div>

                        <div class="sm:col-span-3">
                            <label for="leaveTypeName" class="block text-sm font-medium leading-6 text-gray-900">Category of Leave</label>
                            <div class="mt-2">
                                <input type="text" th:value="${leaveType.getLeaveTypeName()}" name="leaveTypeName" id="leaveTypeName" class="bg-gray-200 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-teal-600 sm:text-sm sm:leading-6" disabled>
                            </div>
                        </div>

                        <div class="col-span-full">
                            <label for="leaveReason" class="block text-sm font-medium leading-6 text-gray-900">Additional Reason</label>
                            <div class="mt-2">
                                <textarea th:text="${leaveApplication.leaveReason}" id="leaveReason" name="leaveReason" rows="3" class="bg-gray-200 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-teal-600 sm:text-sm sm:leading-6" disabled></textarea>
                            </div>
                        </div>

                        <div class="sm:col-span-3 sm:col-start-1">
                            <label for="workDissemination" class="block text-sm font-medium leading-6 text-gray-900">Work Dissemination</label>
                            <div class="mt-2">
                                <input type="text" name="workDissemination" id="workDissemination" autocomplete="workDissemination" class="bg-gray-200 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-teal-600 sm:text-sm sm:leading-6" disabled>
                            </div>
                        </div>

                        <div class="sm:col-span-3">
                            <label for="contactDetails" class="block text-sm font-medium leading-6 text-gray-900">Contact Details</label>
                            <div class="mt-2">
                                <input type="text" name="contactDetails" id="contactDetails" autocomplete="contactDetails" class="bg-gray-200 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-teal-600 sm:text-sm sm:leading-6" disabled>
                            </div>
                        </div>
                    </div>

                    <div th:if="roleName == 'Employee'" class="flex items-center justify-center space-x-6 mt-12">
                        <a th:if="${leaveApplication.leaveStatus == 'Applied' || leaveApplication.leaveStatus == 'Updated'}" th:href="@{'/leave-application/edit/' + ${leaveApplication.leaveApplicationId}}">
                            <button type="button" class="rounded-md bg-yellow-600 px-4 py-2 text-sm font-semibold text-white shadow-sm hover:bg-yellow-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-yellow-600">Edit</button>
                        </a>

                        <a th:if="${leaveApplication.leaveStatus == 'Applied' || leaveApplication.leaveStatus == 'Updated'}" th:href="@{'/leave-application/delete/' + ${leaveApplication.leaveApplicationId}}">
                            <button type="button" class="rounded-md bg-red-600 px-4 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600">Delete</button>
                        </a>

                        <a th:if="${leaveApplication.leaveStatus == 'Approved'}" th:href="@{'/leave-application/cancel/' + ${leaveApplication.leaveApplicationId}}">
                            <button type="button" class="rounded-md bg-red-600 px-4 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600">Cancel</button>
                        </a>
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>
</html>

