<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="flex flex-col">
        <form action="/leave-application-form/store" method="POST" class="space-y-6">
            <div>
                <label for="leave-type-id">Leave Type Id</label>
                <input id="leave-type-id" name="leave-type-id" type="number" required>
            </div>

            <div>
                <label for="start-date">Start Date</label>
                <input id="start-date" name="start-date" type="date" required>
            </div>

            <div>
                <label for="end-date">Start Date</label>
                <input id="end-date" name="end-date" type="date" required>
            </div>

            <div>
                <label for="reason">Reason</label>
                <textarea id="reason" name="reason" rows="4" cols="50">Enter your reason here . . .</textarea>
            </div>

            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>